* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #e7f1ff;
    
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ab2800;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
    color: #240058;
}

img {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}

p {
    font-weight: 500;
    font-size: 1rem;
}

span {
    font-weight: 700;
    color: #5401d1;
    font-style: normal;
    
}

h2 {
    color: rgb(11, 11, 14);
    font-weight: 700;
    font-size: 1.8rem;
    border-top: 4px solid #0f0e0f;
}

.main {
    position:absolute;
}

.left-col {
    margin: 40px;
    width: 40%;
    float: left;
}

.right-col {
    margin: 120px 40px 40px 40px;
    width: 40%;
    float: right;
}

.title {
    color: #f3101b;
    font-size: 4rem;
    font-weight: 700;


}
h3{
    color: #0e0705;
    font-size: 2rem;
    font-weight: 700;

}

.sub-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 0 25px 0;
    
}

.info-list {
    margin-top: 30px;
    margin-bottom: 30px;
}
.info-list-item {
    padding-top: 15px ;
    padding-bottom: 15px;
}

.quote {
    font-family: 'Lobster', cursive;
    margin-top: 50px;
    margin-bottom: 100px;
}

.text-link {
    font-size: 1.5rem;
}

.bio-list {
    margin-top: 30px;
    text-align: left;

}

.bio-list-date-item {
    border-top: 3px solid #080113;
    color: #06030a;
    font-weight: 700;
    width: 50px;
    padding-top: 20px;
}

.bio-list-text {
    padding-top: 15px ;
    padding-bottom: 20px;

}